[submodule "deps/libdrm"]
	path = deps/libdrm
	url = https://github.com/grate-driver/libdrm.git
[submodule "Sources/Graphics/CairoJPG"]
	path = Sources/Graphics/CairoJPG
	url = https://github.com/rahra/cairo_jpg
